In [7]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 5
pd.options.display.max_columns = 21

from nycflights13 import flights, weather, planes, airports, airlines
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

Es.1 Voli il giorno di Natale

In [2]:
voliNatale = flights.loc[(flights['month'] == 12) & (flights['day'] == 25)]
#voliNatale

Es.2 Voli con un ritardo in partenza o in arrivo

In [4]:
voliRitardo = flights.loc[(flights['dep_delay'] > 0) | (flights['arr_delay'] > 0) ].dropna()
#voliRitardo

Es.3 Voli con ritardo in partenza ma non in arrivo + PrimaryKey

In [2]:
flID = flights.copy()
primaryKey = np.arange(0, len(flights), 1)
flID.insert(0, "id",primaryKey)
#flID.loc[(flID['dep_delay'] > 0) & (flID['arr_delay'] < 0) ]

Es.4 Voli che hanno recuperato il ritardo

In [21]:
flCatch = flID.copy()
catchup = flCatch['dep_delay'] - flCatch['arr_delay']
flCatch.insert(10, "catchup", catchup)
flCatchDisplay = flCatch[['id', 'dep_delay', 'arr_delay', 'catchup']].copy()
#flCatchDisplay

Es.5 Numero di voli ogni giorno

In [37]:
flDays = flID.copy()
flDaysShort = flDays[['id', 'month', 'day']].copy()
flGroup = flDaysShort.groupby(['month', 'day']).size()
flGroup = flGroup.reset_index(name = 'NumeroVoli')
#flGroup

Es. 6 Giorni con più di 1000 voli

In [38]:
flBusy = flGroup.copy()
#flBusy[(flBusy['NumeroVoli'] > 1000) & (flBusy['month'] == 7)]

Es.7 Ritardo medio di partenza dei giorni di luglio con più di 1000 voli

In [95]:
flJuly = flID.copy()
filter = flBusy.copy() 
filter = filter[(filter['month'] == 7) & (filter['NumeroVoli'] > 1000)]
mask = flJuly['month'].isin(filter['month']) & flJulyF['day'].isin(filter['day'])
flJulyF = flJuly[mask]
flJulyFMean = flJulyF.groupby(['month', 'day'])
#flJulyFMean['dep_delay'].mean().sort_values(ascending = False)

Es.8 Join con tabella airlines

In [35]:
data = flID.copy()
flights2 = data[['year', 'month', 'day', 'hour', 'origin', 'dest', 'tailnum', 'carrier']]
flightsJoined = pd.merge(flights2, airlines, how = 'left')
#flightsJoined

Es.9 Join con planes usando solo tailnum come chiave

In [19]:
flToJoin = flights2.copy()
flPlanesJoined = pd.merge(flToJoin, planes, on = 'tailnum', how = 'left')
#flPlanesJoined.rename(columns = {"year_x" : "Anno Volo", "year_y" : "Anno Aereo"})

Es.10 Left Join Diversi

In [34]:
flToJoin = flights2.copy()
airports
flAirportDep = pd.merge(flToJoin, airports, left_on = 'origin', right_on = 'faa', how = 'left')
flAirportDest = pd.merge(flToJoin, airports, left_on = 'dest', right_on = 'faa', how = 'left')
#flAirportDep
#flAirportDest

Es.11 Destinazioni più popolari con numero di voli, ordinate decrescente