In [20]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 5
pd.options.display.max_columns = 21

from nycflights13 import flights, weather, planes, airports, airlines

Es.1 Voli il giorno di Natale

In [2]:
voliNatale = flights.loc[(flights['month'] == 12) & (flights['day'] == 25)]
#voliNatale

Es.2 Voli con un ritardo in partenza o in arrivo

In [4]:
voliRitardo = flights.loc[(flights['dep_delay'] > 0) | (flights['arr_delay'] > 0) ].dropna()
#voliRitardo

Es.3 Voli con ritardo in partenza ma non in arrivo + PrimaryKey

In [2]:
flID = flights.copy()
primaryKey = np.arange(0, len(flights), 1)
flID.insert(0, "id",primaryKey)
#flID.loc[(flID['dep_delay'] > 0) & (flID['arr_delay'] < 0) ]

Es.4 Voli che hanno recuperato il ritardo

In [21]:
flCatch = flID.copy()
catchup = flCatch['dep_delay'] - flCatch['arr_delay']
flCatch.insert(10, "catchup", catchup)
flCatchDisplay = flCatch[['id', 'dep_delay', 'arr_delay', 'catchup']].copy()
#flCatchDisplay

Es.5 Numero di voli ogni giorno

In [56]:
flDays = flID.copy()
flDaysShort = flDays[['id', 'month', 'day']].copy()
flGroup = flDaysShort.groupby(['month', 'day']).size()
flGroup = flGroup.reset_index(name = 'NumeroVoli')
#flGroup

Es. 6 Giorni con più di 1000 voli

In [48]:
flBusy = flGroup.copy()
flBusy[(flBusy['NumeroVoli'] > 1000) & (flBusy['month'] == 7)]

     month  day  NumeroVoli
188      7    8        1004
189      7    9        1001
..     ...  ...         ...
205      7   25        1003
211      7   31        1001

[9 rows x 3 columns]

Es.7 Ritardo medio di partenza dei giorni di luglio con più di 1000 voli

In [95]:
flJuly = flID.copy()
filter = flBusy.copy() 
filter = filter[(filter['month'] == 7) & (filter['NumeroVoli'] > 1000)]
mask = flJuly['month'].isin(filter['month']) & flJulyF['day'].isin(filter['day'])
flJulyF = flJuly[mask]
flJulyFMean = flJulyF.groupby(['month', 'day'])
#flJulyFMean['dep_delay'].mean().sort_values(ascending = False)

Es.8 Join con tabella airlines

In [98]:
data = flID.copy()
flights2 = data[['year', 'month', 'day', 'hour', 'origin', 'dest', 'tailnum', 'carrier']]
flights2

        year  month  day  hour origin dest tailnum carrier
0       2013      1    1     5    EWR  IAH  N14228      UA
1       2013      1    1     5    LGA  IAH  N24211      UA
...      ...    ...  ...   ...    ...  ...     ...     ...
336774  2013      9   30    11    LGA  CLE  N511MQ      MQ
336775  2013      9   30     8    LGA  RDU  N839MQ      MQ

[336776 rows x 8 columns]