In [2]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 5
pd.options.display.max_columns = 21

from nycflights13 import flights, weather, planes, airports, airlines

Es.1 Voli il giorno di Natale

In [2]:
voliNatale = flights.loc[(flights['month'] == 12) & (flights['day'] == 25)]
#voliNatale

Es.2 Voli con un ritardo in partenza o in arrivo

In [4]:
voliRitardo = flights.loc[(flights['dep_delay'] > 0) | (flights['arr_delay'] > 0) ].dropna()
#voliRitardo

Es.3 Voli con ritardo in partenza ma non in arrivo + PrimaryKey

In [3]:
flID = flights.copy()
primaryKey = np.arange(0, len(flights), 1)
flID.insert(0, "id",primaryKey)
#flID.loc[(flID['dep_delay'] > 0) & (flID['arr_delay'] < 0) ]

Es.4 Voli che hanno recuperato il ritardo

In [14]:
flCatch = flID.copy()
catchup = flCatch['dep_delay'] - flCatch['arr_delay']
flCatch.insert(10, "catchup", catchup)
flCatchDisplay = flCatch[['id', 'dep_delay', 'arr_delay', 'catchup']].copy()
#flCatchDisplay
flCatch

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,catchup,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,-9.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,-16.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336774,336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

Es.5 Numero di voli ogni giorno

In [17]:
flDays = flID.copy()